@font-face {
    font-family: Gotham;
    src: url('assets/Gotham\ Medium.otf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    margin: auto;
    width: 100%;
    font-family: Gotham;
}
.head {
    position: relative;
}
h3 {
    background: black;
    color: white;
    padding-top: 15%;
    padding-bottom: 10%;
    margin-top: -18%;
    z-index: 10;
    font-size: 30px;
}

h4 {
    padding: 20px;
    padding-bottom: 50px;
    margin: auto;
    background-image: url(assets/cargo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.imagen {
    padding: 10px;
    margin: auto;
    display: flex;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-image: url(assets/perfil.jpg);
    background-size: cover;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 5px;
    z-index: 20;
}
.cabecera {
    display: flex;
    width: 100%;
    position: absolute;
    z-index: -10;
    margin: auto;
    top: 0px;
    height: 20%;
}
hr {
    width: 30%;
    margin: auto;
    background-color: black;
    height: 1px;
}
.datos {
    text-align: center;
    padding-top: 3%;
    z-index: 10;
}
@media screen and (min-width: 1024px){
    .datos{
        padding-top: 7%;
    }
    h3{
        padding-top: 10%;
        padding-bottom: 10%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .datos{
        padding-top: 7%;
    }
}
@media screen and (max-width: 768px){
    .datos{
        padding-top: 7%;
    }
}
.contacto {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 0%;
}
p{
    margin-top: 5%;
}
.card {
    margin: auto;
    width: 100%;
    height: 100vh;
}
.logo {
    width: 300px;
}
.correo,
.telefono,
.whatsapp,
.descargar {
    width: 100px;
    padding: 20px;
}
.imgtelefono,
.imgcorreo,
.imgwhatsapp,
.imgdescargar {
    width: 70px;
    -webkit-filter: drop-shadow(5px 4px 5px #BCBCBC);
}
.dattis {
    width: 100%;
    display: flex;
}
.dattislogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    margin-top: 40px;
    margin-bottom: 10px;
}
a {
    text-decoration: none;
    color: black;
}